extends layout

block append head
    link(rel='stylesheet', href='/stylesheets/chatty.css')
    script(src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js",type="text/javascript")
    script(src="/socket.io/socket.io.js")
    script(src="/javascripts/chatty.js",type='text/javascript')

block content
    h1 #{title} chatting away
    #msgs
    #form
        form(id="chat",onsubmit="sendMsg(); return false;")
            label(for="username") Username:
            input(name="username",type="text")
            br
            label(for="msg") Message:
            input(id="msg",type="text",name="message")
            br
            input(type="submit")
